.button_1669948351722 {
    display: inline-block !important;
    text-decoration: none !important;
    background-color: #6b8d58 !important;
    color: #ffffff !important;
    border: 1px solid #6b8d58 !important;
    border-radius: 5px !important;
    font-size: 34px !important;
    padding: 15px 50px !important; 
    transition: all 0.8s ease !important;
}
.button_1669948351722:hover{
    text-decoration: none !important; 
    background-color: #6b8d58 !important;
    color: #000000 !important;
    border-color: #6b8d58 !important;
}
